POSTGRES_USER=pricepulse_user
POSTGRES_PASSWORD=cambia_esta_contrasena
POSTGRES_DB=pricepulse_db

DATABASE_URL=postgresql://pricepulse_user:cambia_esta_contrasena@localhost:5432/pricepulse_db

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
ALERTA_EMAIL_PRUEBA=
JWT_SECRET=cambia_este_secreto